- provide(:title, @user.first_name)
%h1= @user.first_name
%p 
  Not much here... only reason for having any sort of login system here is for adding comments (and for Brett, or whoever, to manage content).  Having a page to yourself?  Maybe to manage the comments you've made?  I got nothing, besides that.  Holler if you have any ideas!