.row
  .col-md-5.col-md-offset-1
    = link_to image_tag('hold.gif', alt: 'A', class: 'img-responsive'), about_path, title: 'About', id: 'a'
  .col-md-5
    = link_to image_tag('hold.gif', alt: 'B', class: 'img-responsive'), entries_path, title: 'Blog', id: 'b'
%br
%br
%br
.row
  .col-md-5.col-md-offset-1
    = link_to image_tag('hold.gif', alt: 'C', class: 'img-responsive'), contact_path, title: 'Contact', id: 'c'
  .col-md-5
    = link_to image_tag('hold.gif', alt: 'D', class: 'img-responsive'), designs_path, title: 'Designs', id: 'd'