.row
  .col-xs-5.col-sm-4.col-md-4.col-md-offset-2.col-sm-offset-2.letter
    = link_to image_tag('hold.gif', alt: 'A'), about_path, title: 'About', id: 'a'
  .col-xs-5.col-sm-4.col-md-4.letter
    = link_to image_tag('hold.gif', alt: 'B'), entries_path, title: 'Blog', id: 'b'
.row
  .col-xs-5.col-sm-4.col-md-4.col-md-offset-2.col-sm-offset-2.letter
    = link_to image_tag('hold.gif', alt: 'C'), contact_path, title: 'Contact', id: 'c'
  .col-xs-5.col-sm-4.col-md-4.letter
    = link_to image_tag('hold.gif', alt: 'D'), designs_path, title: 'Designs', id: 'd'