<div id='camera'>
  <%= render 'nav' %>
  <div id='cube'>
    <div class='face a'>
      A
    </div>
    <div class='face b'>
      B
    </div>
    <div class='face c'>
      C
    </div>
    <div class='face d'>
      D
    </div>
    <div class='face e'>
      E
    </div>
    <div class='face f'>
      F
    </div>
  </div>
</div>