.row
  .col-md-8.col-md-offset-2
    %h1.center Ideas, as simple as ABC all the way to XYZ
    %p.bigger
      Welcome!  This is my playground.  My name is Brett Christopher Dudo, and as you can see, my initials are BCD.  They're in alphabetical order... I design things...
      %b
        Boom!
      Alphabetic Design was born!
    %p.bigger
      If you need more than just a simple website to fulfill your online presence, chances are, we can help.  We specialize in dynamic web applications built around a robust database.
      %ul
        %li.bigger &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;User logins
        %li.bigger &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Inventory to keep track of
        %li.bigger &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Products to display
        %li.bigger &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Calculations to be made
        %li.bigger &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Blog entries
    %p.bigger
      If you have reasons to store, and more importantly, 
      %em
        find
      data, then holler at us.
    %p.bigger
      Be sure to check out some
      = link_to 'Designs', designs_path
      while you're here.  You might find some
      = link_to 'Blog', entries_path
      posts interesting too.  If you'd like some work done,
      = link_to 'Contact us!', contact_path
.row
  .col-md-4.col-md-offset-4
    %h1.center The Team
    %p
      = link_to image_tag('bcd.jpg', alt: 'BCD profile pic', class: 'img-responsive img-thumbnail ror'), 'http://www.linkedin.com/profile/view?id=287312275', target: '_blank', class: 'pull-left', title: 'BCD'
      %h2 Brett Dudo
      It's just me for now, treading water.  I had this picture taken back when I was on the Geek Squad.  Still rockin' the beard.