.row
  .col-md-8.col-md-offset-2
    %h1.center Ideas, as simple as ABC all the way to XYZ
    %p.bigger.well
      Welcome!  This is my playground.  A place to truly call my own on this world wide web.  My name is Brett Christopher Dudo, and as you can see, my initials are BCD.  They're in alphabetical order... I design things...
      %b
        Boom!
      Alphabetic Design was born!