:javascript
  function fetchJSONFile(path, callback) {
    var httpRequest = new XMLHttpRequest();
    httpRequest.onreadystatechange = function() {
      if (httpRequest.readyState === 4) {
        if (httpRequest.status === 200) {
          var data = JSON.parse(httpRequest.responseText);
          if (callback) callback(data);
        };
      };
    };
    httpRequest.open('GET', path);
    httpRequest.send(); 
  };

  // this requires the file and executes a callback with the parsed result once available
  fetchJSONFile('http://ecorebox.com/companies/1/snippet.json', function(data){
    // do what you do
    var trees = data['trees'];
    var water = data['water'];
    var energy = data['electricity'];
    var div1 = document.createElement("div");
    div1.id = 'erb_savings'
    div1.style.width = "720px";
    div1.style.height = "120px";
    div1.style.margin = "20px";
    div1.style.background = "url(http://ecorebox.com/assets/snippet_banner.jpg)";
    div1.style.color = "black";
    div1.innerHTML = "<p style='position:relative; top:30px; left:243px;'>" + trees + "</p><p style='position:relative; top:0px; left:416px;'>" + water + "</p><p style='position:relative; top:-30px; left:596px;'>" + energy + "</p>";

    // this appends the div to the site.  will be different for each client
    $('.content').prepend(div1);
  });

  fetchJSONFile('http://ecorebox.com/companies/1/snippet.json', function(data){
    // do what you do
    var trees = data['trees'];
    var water = data['water'];
    var energy = data['electricity'];
    var div2 = document.createElement("div");
    div2.id = 'erb_savings'
    div2.style.width = "200px";
    div2.style.height = "400px";
    div2.style.margin = "20px";
    div2.style.background = "url(http://ecorebox.com/assets/snippet_narrow.jpg)";
    div2.style.color = "black";
    div2.innerHTML = "<p style='position:relative; top:148px; left:70px;'>" + trees + "</p><p style='position:relative; top:205px; left:70px;'>" + water + "</p><p style='position:relative; top:250px; left:70px;'>" + energy + "</p>";

    // this appends the div to the site.  will be different for each client
    $('.content').prepend(div2);
  });

  fetchJSONFile('http://ecorebox.com/companies/1/snippet.json', function(data){
    // do what you do
    var trees = data['trees'];
    var water = data['water'];
    var energy = data['electricity'];
    var div3 = document.createElement("div");
    div3.id = 'erb_savings'
    div3.style.width = "350px";
    div3.style.height = "318px";
    div3.style.margin = "20px";
    div3.style.background = "url(http://ecorebox.com/assets/snippet_box.jpg)";
    div3.style.color = "black";
    div3.innerHTML = "<p style='position:relative; top:83px; left:83px;'>" + trees + "</p><p style='position:relative; top:120px; left:83px;'>" + water + "</p><p style='position:relative; top:165px; left:83px;'>" + energy + "</p>";

    // this appends the div to the site.  will be different for each client
    $('.content').prepend(div3);
  });