ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  a {
    text-decoration: none;
    display: block;
  }
}

ul.categories {
  li {
    border-bottom: 1px solid #e3e3e3;
    &:last-child {
      border: none;
    }
    a {
      color: #777;
      width: 100%;
      -webkit-transition: font-size 0.3s ease, background-color 0.3s ease, color 0.3s ease;
      -moz-transition: font-size 0.3s ease, background-color 0.3s ease, color 0.3s ease;
      -o-transition: font-size 0.3s ease, background-color 0.3s ease, color 0.3s ease;
      -ms-transition: font-size 0.3s ease, background-color 0.3s ease, color 0.3s ease;
      transition: font-size 0.3s ease, background-color 0.3s ease, color 0.3s ease;
      &:hover {
        color: #333;
        font-size: 1.5em;
        background: whitesmoke;
      }
    }
  }
}

ul.thumbnails {
  li {
    float: left;
    margin: auto 20px 20px auto;
    padding: 19px;
    min-width: 400px;
    min-height: 400px;
    max-width: 400px;
    max-height: 400px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
  }
}
 
