html, body {
  height: 100%;
  .wrapper { min-height: 100%; }
  header {

  }
  footer {
    margin: -72px auto 0 auto;
  }
  .content {
    padding-bottom: 90px;
  }
}

body {
  padding-top: 70px;
}

.impact {
  font-family: Impact, Charcoal, sans-serif;
}

.gothic {
  font-family: Century Gothic, sans-serif;
}

.highlightable {
  position: relative;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  transition: background-color 0.2s; 
  &:hover {
    background: #e3e3e3;
  }
}

.picBack {
  position: relative;
  background: no-repeat;
  -webkit-filter: grayscale(100%) blur(2px);
  -moz-filter: grayscale(100%) blur(2px);
  -ms-filter: grayscale(100%) blur(2px);
  -o-filter: grayscale(100%) blur(2px);
  filter: grayscale(100%) blur(2px);
  &:hover {
    -webkit-filter: grayscale(0%) blur(0px);
    -moz-filter: grayscale(0%) blur(0px);
    -ms-filter: grayscale(0%) blur(0px);
    -o-filter: grayscale(0%) blur(0px);
    filter: grayscale(0%) blur(0px);
  }
}

.bottom {
  position: absolute;
  bottom: 0px;
}

.flat_link {
  &:link { // unvisited links
    color: #333;
    text-decoration: none;
  }    
  &:visited { // visited links
    color: #333;
    text-decoration: none;
  }
  &:hover { // user hovers
    color: #333;
    text-decoration: none;
  } 
  &:active { // active links
    color: #333;
    text-decoration: none;
  }  
}

#camera {
  position: relative;
  -webkit-perspective: 800px;
  -webkit-perspective-origin: 50% 200px;
  -moz-perspective: 800px;
  -moz-perspective-origin: 50% 200px;
  -ms-perspective: 800px;
  -ms-perspective-origin: 50% 200px;
  -o-perspective: 800px;
  -o-perspective-origin: 50% 200px;
  
  #cube {
    
    position: relative;
    margin: 0 auto;
    height: 400px;
    width: 400px;
    -webkit-transition: -webkit-transform 2s linear;
    -webkit-transform-style: preserve-3d;
    -moz-transition: -moz-transform 2s linear;
    -moz-transform-style: preserve-3d;
    -ms-transition: -ms-transform 2s linear;
    -ms-transform-style: preserve-3d;
    -o-transition: -o-transform 2s linear;
    -o-transform-style: preserve-3d;
    
    .face {
      position: absolute;
      height: 400px;
      width: 400px;
      padding: 5px;
      border: 20px solid #333;
      text-align: center;
      -webkit-box-sizing: border-box;
      -moz-box-sizing:    border-box;
      -ms-box-sizing:     border-box;
      -o-box-sizing:      border-box;
      box-sizing:         border-box;
      font-size: 400px;
      line-height: .9;
    }

    .a { 
      background-color: rgba(255,255,255, 1.0);
      -webkit-transform: translateZ(200px);
      -moz-transform: translateZ(200px);
      -ms-transform: translateZ(200px);
      -o-transform: translateZ(200px);
    }

    .b { 
      background-color: rgba(255,255,255, 1.0);
      -webkit-transform: rotateY(-90deg) translateZ(200px);
      -moz-transform: rotateY(-90deg) translateZ(200px);
      -ms-transform: rotateY(-90deg) translateZ(200px);
      -o-transform: rotateY(-90deg) translateZ(200px);
    }

    .c { 
      background-color: rgba(255,255,255, 1.0);
      -webkit-transform: rotateY(180deg) translateZ(200px);
      -moz-transform: rotateY(180deg) translateZ(200px);
      -ms-transform: rotateY(180deg) translateZ(200px);
      -o-transform: rotateY(180deg) translateZ(200px);
    }

    .d { 
      background-color: rgba(255,255,255, 1.0);
      -webkit-transform: rotateY(90deg) translateZ(200px);
      -moz-transform: rotateY(90deg) translateZ(200px);
      -ms-transform: rotateY(90deg) translateZ(200px);
      -o-transform: rotateY(90deg) translateZ(200px);
    }

    .e { 
      background-color: rgba(255,255,255, 1.0);
      -webkit-transform: rotateX(90deg) translateZ(200px);
      -moz-transform: rotateX(90deg) translateZ(200px);
      -ms-transform: rotateX(90deg) translateZ(200px);
      -o-transform: rotateX(90deg) translateZ(200px);
    }

    .f { 
      background-color: rgba(255,255,255, 1.0);
      -webkit-transform: rotateX(-90deg) translateZ(200px) rotate(180deg);
      -moz-transform: rotateX(-90deg) translateZ(200px) rotate(180deg);
      -ms-transform: rotateX(-90deg) translateZ(200px) rotate(180deg);
      -o-transform: rotateX(-90deg) translateZ(200px) rotate(180deg);
    }
  }
}

.cubeNav {
  position: relative;
  margin: 5px auto;
  width: 640px;
  .debug_dump {
    position: relative;
    top: 340px;
  }
  .cube-arrow {
    max-height: 40px;
  }
}

#rss img {
  margin-top: 20px;
  width: 40px;
  background: url('/assets/social.png') 0px 0px;
  &:hover {
    background: url('/assets/social.png') 0px -40px;
  }
}
#facebook img {
  margin-top: 20px;
  width: 40px;
  background: url('/assets/social.png') 120px 0px;
  &:hover {
    background: url('/assets/social.png') 120px -40px;
  }
}
 #twitter img{
  margin-top: 20px;
  width: 40px;
  background: url('/assets/social.png') 80px 0px;
  &:hover {
    background: url('/assets/social.png') 80px -40px;
  }
}
#reddit img {
  margin-top: 20px;
  width: 40px;
  background: url('/assets/social.png') 40px 0px;
  &:hover {
    background: url('/assets/social.png') 40px -40px;
  }
}