html, body {
  height: 100%;
  .wrapper { min-height: 100%; }
  header {

  }
  footer {
    margin: -72px auto 0 auto;
  }
  .content {
    padding-bottom: 90px;
  }
}

body {
  padding-top: 70px;
}

.impact {
  font-family: Impact, Charcoal, sans-serif;
}

.gothic {
  font-family: Century Gothic, sans-serif;
}

.bottom {
  position: absolute;
  bottom: 0px;
}

.center {
  text-align: center;
}

.ror {
  max-height: 172px;
  margin: 10px;
}

.bigger {
  font-size: 1.3em;
}

.first-image {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.social {
  img {
    margin-top: 20px;
    width: 40px;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
  }
  #rss img {
    background: url('/assets/social.png') 0px 0px;
    &:hover {
      background: url('/assets/social.png') 0px -40px;
    }
  }
  #facebook img {
    background: url('/assets/social.png') 120px 0px;
    &:hover {
      background: url('/assets/social.png') 120px -40px;
    }
  }
   #twitter img{
    background: url('/assets/social.png') 80px 0px;
    &:hover {
      background: url('/assets/social.png') 80px -40px;
    }
  }
  #reddit img {
    background: url('/assets/social.png') 40px 0px;
    &:hover {
      background: url('/assets/social.png') 40px -40px;
    }
  }
}
.letter {
  padding: 0 0.7%;
  img {
    margin: 2%;
    width: 100%;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    transition: background 0.5s;
  }
  #a img {
    background: url('/assets/a.jpg') 100% 0px no-repeat;
    background-size: cover;

    &:hover {
      background: url('/assets/a.jpg') 0% 0px no-repeat;
      background-size: cover;
    }
  }
  #b img {
    background: url('/assets/b.jpg') 0px 100% no-repeat;
    background-size: cover;
    &:hover {
      background: url('/assets/b.jpg') 0px 0% no-repeat;
      background-size: cover;
    }
  }
  #c img {
    background: url('/assets/c.jpg') 0px 0% no-repeat;
    background-size: cover;
    &:hover {
      background: url('/assets/c.jpg') 0px 100% no-repeat;
      background-size: cover;
    }
  }
  #d img {
    background: url('/assets/d.jpg') 0% 0px no-repeat;
    background-size: cover;
    &:hover {
      background: url('/assets/d.jpg') 100% 0px no-repeat;
      background-size: cover;
    }
  }
}
.pad-right {
  padding-right: 20px;
}
.pad-left {
  padding-left: 20px;
}
.pad-top {
  padding-top: 20px;
}
.pad-bottom {
  padding-bottom: 20px;
}