- provide(:title, @category)

%h1= "Things of interest for '#{@category.capitalize}'"
.row
  .col-xs-6.col-md-6
    %h2 Blog entries
    %ul= render @entries
  .col-xs-6.col-md-6
    %h2 Designs
    %ul= render @designs

//need to find a way to paginate these bastards
