- provide(:title, @category)

%h1= "#{@category.capitalize} category"
.row
  .col-md-6
    %h2 Blog entries
    = render @entries
  .col-md-6
    %h2 Designs
    = render @designs

//need to find a way to paginate these bastards
